# Exclude following directories
*__pycache__/
*.vscode/

*ml4a-ofx/
*TextFuseNet/
/data
/tsne
/models

# Directories that contain image samples
*/samples

/text_detection/east*
/text_detection/no_text
/text_detection/text_presence.csv
/text_detection/textfusenet*


*.txt
test*